:root {
    --size: 300px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    place-content: center;
    min-height: 80vh;

}

.container {
    perspective: 1000px;
    width: var(--size);
    height: var(--size);
}

.cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-15deg) rotateY(15deg);
    animation: rotateCube 3s infinite linear;
}

.face {
    position: absolute;
    border: 1px solid rgba(142, 142, 142, 0.683);
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1);
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    text-align: center;
    font-size: 1.25rem;
    background-color: white;
    opacity: 0.8;
}

.front {
    transform: translateZ(150px);
    background-color: hotpink;
}

.back {
    transform: rotateY(180deg) translateZ(150px);
    background-color: rgb(26, 140, 158);
}

.top {
    transform: rotateX(90deg) translateZ(150px);
    background-color: yellow;
}

.right {
    transform: rotateY(90deg) translateZ(150px);
    background-color: green;
}

.left {
    transform: rotateY(-90deg) translateZ(150px);
    background-color: red;
}

.bottom {
    transform: rotateX(-90deg) translateZ(150px);
    background-color: rebeccapurple;
}



@keyframes rotateCube {
    0% {
        transform: rotateX(-15deg) rotateY(15deg);
    }

    25% {
        transform: rotateX(75deg) rotateY(75deg);
    }

    50% {
        transform: rotateX(165deg) rotateY(165deg);
    }

    75% {
        transform: rotateX(255deg) rotateY(255deg);
    }

    100% {
        transform: rotateX(345deg) rotateY(345deg);
    }
}