body {
    display: flex;
    background: #eee;
    height: 100vh;
    margin: 0;
}

main {
    margin: auto;
    width: 500px;
    height: 500px;
    background: white;
    box-shadow: 0 0 3rem rgba(0, 0, 0, .1);
    position: relative;
}

main aside {
    width: 60px;
    height: 60px;
    background: red;
    animation: corners 5s infinite;
    position: absolute;
}




@keyframes corners {

    0%,
    24.99% {
        top: 0;
        left: 0;
        background-color: red;
    }

    25%,
    49.99% {
        top: 0;
        left: 440px;
        background-color: blue;
    }

    50%,
    74.99% {
        top: 440px;
        left: 440px;
        background-color: green;
    }

    75%,
    99.99% {
        top: 440px;
        left: 0;
        background-color: yellow;
    }

    100% {
        top: 0;
        left: 0;
        background-color: red;
    }
}